$color-body: #554645
$color-btn: #966a50
$color-btn2: #c4ac9e
$color-link: #d3b5a0
$color-border: #d9cec7
$color-hover: #d7c7be
$color-bg: #f4f0ed
$color-gray: rgba(85, 70, 69, 0.5)
$color-figure: #9c735a
$color-maroon: #cda1a6

.text-body
	color: $color-body !important
.text-btn
	color: $color-btn !important
.text-gray
	color: $color-gray !important