@import url('https://fonts.googleapis.com/css?family=Almarai:400,700|Montserrat:400,700&display=swap')

@font-face
	font-family: 'Times New Roman'
	src: url('../fonts/times-new-roman-corsivo.ttf')
	font-weight: normal
	font-style: italic