@import colors, fonts

$transition: .3s

*
	outline: none !important

body
	font-family: 'Montserrat', 'Almarai', sans-serif
	color: $color-body

main
	background-color: $color-bg
	position: relative
	z-index: 2
	.no-scroll &
		padding-top: 88px
		@media (max-width: 991.98px)
			padding-top: 70px

img
	max-width: 100%
	height: auto

hr 
	border-top-color: $color-btn
.hr 
	border-top-color: #c3bcba

a 
	color: $color-link
	transition: $transition
	&:hover
		color: $color-btn
		text-decoration: none

@media (min-width: 1200px)
	.container
		max-width: 1166px

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
	color: $color-btn
	.img-link &
		transition: $transition
	.img-link:hover &
		color: $color-hover
.h1, h1
	font-size: 2.5rem !important
	text-transform: uppercase
	letter-spacing: 2.88px
	margin-bottom: 33px
	@media (min-width: 992px)
		font-size: 3rem !important
.h2, h2
	font-size: 1.5rem
	text-transform: uppercase
	margin-bottom: 3rem
	@media (min-width: 992px)
		font-size: 2.25rem
		line-height: 1.1
.h4, h4
	margin-bottom: 1rem
	@media (max-width: 991.98px)
		font-size: 1.25rem
.h1-1 
	@media (max-width: 575.98px)
		font-size: 23px !important
		line-height: inherit

.fz-48
	font-size: 48px !important
	@media (max-width: 991.98px)
		font-size: 24px !important
.fz-36
	font-size: 36px !important
	@media (max-width: 1199.98px)
		font-size: 33px !important
	@media (max-width: 575.98px)
		font-size: 25px !important
.fz-24
	font-size: 1rem
	@media (min-width: 992px)
		font-size: 20px
	@media (min-width: 1200px)
		font-size: 24px
.fz-24-1
	@media (max-width: 991.98px)
		font-size: 20px
.fz-22
	@media (min-width: 992px)
		font-size: 18px
	@media (min-width: 1200px)
		font-size: 22px
.fz-18
	@media (min-width: 1200px)
		font-size: 18px
.fz-14
	font-size: 14px
.fz-12
	font-size: 12px

.lh-175
	line-height: 1.75
.lh-11
	line-height: 1.1

.ls-52
	letter-spacing: 5.2px
.ls-25
	letter-spacing: 2.5px

.pt-80
	padding-top: 80px

.btn
	border: none
	border-radius: 0
	font-size: 13px
	letter-spacing: .78px
	padding: 10.5px 18px
	text-transform: uppercase
	box-shadow: none !important
	transition: $transition
	&-brown
		color: #fff !important
		background-color: $color-btn
		&:hover
			background-color: $color-link
	&-maroon 
		color: #fff !important
		padding: 15.5px 22px
		background-color: #cda1a6
		&:hover
			background-color: $color-link
	&-white
		color: #fff !important
		padding: 20.5px 36px
		border: 2px solid #fff
		background-color: transparent
		&:hover
			opacity: .6 !important
	&-arrow 
		width: 45px
		height: 45px
		&:before, &:after 
			content: ''
			position: absolute
			top: 50%
			right: 42%
			width: 9px
			border-top: 1px solid 
			transform-origin: calc(100% - .5px) center
			transition: $transition
			margin-top: -.5px
		&:before
			transform: rotate(50deg)
		&:after
			transform: rotate(-50deg) 
		&:hover 
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg) 

.img-link
	display: block

.content
	overflow: hidden

.form-group
	@media (min-width: 992px)
		margin-bottom: 28px

.form-control
	border-radius: 0
	height: auto
	padding: 13px 24px
	color: $color-body
	font-size: inherit
	border: 1px solid $color-btn2 !important
	background-color: transparent !important
	-moz-appearance: none
	-ms-appearance: none
	-webkit-appearance: none
	appearance: none
	&:focus
		box-shadow: 0 0 0 0.2rem rgba(150, 106, 80, .25)
	&::-webkit-input-placeholder
		color: $color-body
	&::-moz-placeholder
		color: $color-body
	&:-ms-input-placeholder
		color: $color-body

select.form-control
	display: block !important
	padding-right: 38px
	background-image: url(../img/arrow-select.png)
	background-position: calc(100% - 15px) center
	background-repeat: no-repeat
	background-size: 9px

textarea.form-control 
	min-height: 150px

.radio-group 
	display: block
	text-align: center
	margin-bottom: 1rem
	span
		display: block
		min-width: 182px
		color: $color-btn
		padding: 12px
		border: 2px solid $color-btn
		transition: $transition
		cursor: pointer
		&:hover
			color: #fff
			border-color: $color-link
			background-color: $color-link
	input
		display: none
		&:checked ~ span
			color: #fff
			border-color: $color-btn
			background-color: $color-btn
	&.radio-group-2
		span 
			min-width: 50px

.row-1
	margin-left: -2.5px
	margin-right: -2.5px
	[class*='col']
		padding-left: 2.5px
		padding-right: 2.5px
.row-2
	margin-left: -12px
	margin-right: -12px
	[class*='col']
		padding-left: 12px
		padding-right: 12px

.owl-carousel
	&.owl-theme
		.owl-dots
			margin-top: 42px !important
			.owl-dot 
				span
					background: $color-btn2
					transition: $transition
				&.active, &:hover
					span
						background: $color-btn

.e
	display: block
	font-size: 15px
	line-height: 30px
	width: 40px
	height: 40px
	border: 1px solid
	text-align: center
	@media (max-width: 991.98px)
		margin-top: .5rem

.page-navbar
	padding-top: 15px
	padding-bottom: 15px
	text-transform: uppercase
	font-size: 14px
	position: absolute
	top: -100px
	margin-top: 100px
	right: 0
	left: 0
	z-index: 1030
	transition: background-color $transition, transform $transition
	@media (min-width: 992px)
		padding-top: 0
		padding-bottom: 0
	.navbar-brand
		max-width: 70%
		position: relative
		margin-right: 0
		padding: 0
		img
			max-height: 40px
			transition: $transition
			&.logo-color
				opacity: 0
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
	a 
		color: $color-btn
		&:hover 
			color: $color-hover
		@media (min-width: 992px)
			color: #fff
			&:hover, &.active
				color: $color-hover
			&.active
				pointer-events: none
	.navbar-toggler
		color: #fff !important
	.nav-link
		@media (min-width: 992px)
			line-height: .9
			padding: 52px .5rem 24px !important
		@media (min-width: 1200px)		
			letter-spacing: .84px
			padding-left: 18px !important
			padding-right: 18px !important
	&.navbar-bg, &.fixed-top	
		background-color: $color-bg
		.navbar-brand
			img
				opacity: 0
				&.logo-color
					opacity: 1
		a 
			color: $color-btn
			&:hover, &.active
				color: $color-hover
		.navbar-toggler
			color: $color-btn !important
	&.fixed-top
		position: fixed
		top: 0
		margin-top: 0
		transition: background-color $transition, transform $transition, top .5s
		box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .06)
	@media (max-width: 991.98px)
		#navbar
			position: fixed
			width: 260px
			right: -260px
			top: 0
			bottom: 0
			overflow: auto
			min-height: 100vh
			padding: 50px 15px
			background-color: $color-bg
			transition: $transition
			[dir="rtl"] &
				left: -260px
				right: auto

.menu-dropdown
	padding-left: 15px
	@media (min-width: 992px)
		padding-left: 0
		position: absolute
		left: 0
		right: 0
		top: 100%
		opacity: 0
		background-color: #fff
		border-top: 1px solid $color-border
		transition: $transition
		pointer-events: none
		text-transform: none
		justify-content: center
		box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .06)
	.nav-link
		@media (min-width: 992px)
			padding-top: 38px !important
			padding-bottom: 34px !important
		@media (min-width: 1200px)
			padding-left: 18px !important
			padding-right: 18px !important
@media (min-width: 992px)
	.dropdown-link
		&:hover 
			> .nav-link
				color: $color-hover
			.menu-dropdown
				opacity: 1
				pointer-events: inherit

@media (max-width: 991.98px)
	.menubar-in
		overflow: hidden
		.page-navbar
			transform: translateX(-260px)
			[dir="rtl"] & 
				transform: translateX(260px)

.navbar-toggler
	display: inline-block
	cursor: pointer
	transition: none
	padding: 0
	border: 0
	&:before
		width: 26px
		animation-name: sandwich-1
	span
		width: 20px
		animation-name: sandwich-2
	&:after
		width: 14px
		animation-name: sandwich-3
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 6px
	span, &:before, &:after
		display: block
		transition: $transition
		transform-origin: right center
		border-top: 2px solid
		margin-left: auto
		animation-timing-function: linear
		animation-iteration-count: infinite
		animation-duration: 3s
		[dir="rtl"] &
			margin-left: 0
			margin-right: auto
			transform-origin: left center
	&.active
		&:before
			transform: rotate(-45deg)
			width: 23px
			[dir="rtl"] &
				transform: rotate(45deg)
		span
			width: 0
			opacity: 0
		&:after
			transform: rotate(45deg)
			width: 23px
			[dir="rtl"] &
				transform: rotate(-45deg)
		span, &:before, &:after
			animation-name: none !important
@keyframes sandwich-1
	50%
		width: 14px
@keyframes sandwich-2
	25%
		width: 16px
	50%
		width: 20px
	75%
		width: 24px
@keyframes sandwich-3
	50%
		width: 26px

.page-header
	height: 100vh
	padding-top: 88px
	padding-bottom: 88px
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	position: relative
	overflow: hidden
	background-size: cover
	background-position: center center
	&:not([class*="header-"])
		box-shadow: -8.7px 5px 15px 0 rgba(0, 0, 0, .35)
	.container 
		position: relative
		padding-top: 65px

.header-1 
	height: 66vh
	.container
		padding-top: 31px
.header-2
	@media (min-width: 576px)
		height: 66vh
.header-3
	height: 40vh

.section-1
	padding-top: 1px
	padding-bottom: 170px
	color: #fff
	text-align: center
	text-transform: uppercase
	background-color: $color-body
	@media (max-width: 991.98px)
		padding-bottom: 90px
.iconbox-1
	.iconbox-icon-container
		display: block
		width: 1560px
		padding-left: 30px
		padding-right: 30px
		position: relative
		left: 50%
		transform: translateX(-50%)
		@media (max-width: 1199.98px)
			width: 1160px
		@media (max-width: 991.98px)
			width: 860px
		@media (max-width: 379.98px)
			width: 660px
		> svg 
			width: 100%
			height: auto
.iconbox-2
	margin-top: -265px
	margin-bottom: 74px
	@media (max-width: 1199.98px)
		margin-top: -180px
	@media (max-width: 991.98px)
		margin-top: -130px
		margin-bottom: 50px
	@media (max-width: 369.98px)
		margin-top: -100px
.iconbox-3
	margin-top: 50px

.section-2
	.row
		align-items: center
		margin: 0
		&:nth-child(odd)
			background-color: #fff
		&:nth-child(even)
			color: #fff	
			background-color: $color-btn
			flex-direction: row-reverse
			* 
				color: inherit !important
			.img-link:hover
				h2
					opacity: .5
		> [class*='col']
			padding: 0
			&:last-child
				padding: 30px 12% 30px 5%
				@media (max-width: 1199.98px)
					padding-right: 5%
				@media (max-width: 991.98px)
					padding: 30px 15px
	h2
		padding-bottom: 37px
		margin-bottom: 43px
		position: relative
		@media (max-width: 991.98px)
			padding-bottom: 18px
			margin-bottom: 16px
		&:after 
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 33px
			border-top: 3px solid
			animation: widthLine 4s linear infinite
			@media (max-width: 991.98px)
				border-top-width: 2px

@keyframes widthLine
	50%
		width: 43px

.section-3
	padding-top: 161px
	padding-bottom: 102px
	@media (max-width: 991.98px)
		padding-top: 90px
		padding-bottom: 42px

.img-wrap
	overflow: hidden
	margin-bottom: 22px
	background-color: $color-btn
	> img
		transition: $transition
	&:hover 
		> img
			opacity: .2
			transform: scale(1.1)

.link
	font-size: 11px
	letter-spacing: 1.1px
	color: $color-btn
	position: relative
	text-transform: uppercase
	padding-left: 40px
	&:before 
		content: ''
		position: absolute
		bottom: 3px
		left: 0
		width: 28px
		border-top: 2px solid
		display: inline-block
	&:hover
		color: $color-hover
		&:before 
			animation: hoverLink 0.3s

@keyframes hoverLink
	49%
		left: 28px
		width: 0
	51%
		left: 0
		width: 0

.section-4
	padding-bottom: 102px
	@media (max-width: 991.98px)
		padding-bottom: 90px

.block
	color: #fff
	position: relative
	padding: 154px 15px
	text-transform: uppercase
	margin-top: -66px
	margin-bottom: 30px
	overflow: hidden
	@media (max-width: 767.98px)
		padding-top: 70px
		padding-bottom: 70px

.section-5
	padding-top: 84px

.section-6
	padding-top: 127px
	padding-bottom: 120px
	@media (max-width: 991.98px)
		padding-top: 50px
		padding-bottom: 90px

.web-story-1, .web-story-2
	img
		transition: $transition
	.col
		transition: $transition .1s
	&:hover
		opacity: .6
.web-story-1
	&:hover
		img, .col
			transform: translateX(-10px)
.web-story-2
	img 
		transform: rotate(180deg)
	&:hover
		img
			transform: rotate(180deg) translateX(-10px)
		.col
			transform: translateX(10px)

.ml-30
	margin-left: 30px
.mr-30
	margin-right: 30px

.section-7
	@media (min-width: 992px)
		.row > [class*='col']:last-child
			padding-right: 6%
	@media (min-width: 1200px) and (max-width: 1299.98px)
		font-size: 14px

.page-footer
	color: #fff
	font-size: 13px
	padding-top: 97px
	padding-bottom: 20px
	line-height: 1.25
	background-color: $color-body
	.form-control 
		padding: 13px
		border: none !important
		background-color: $color-bg !important
		box-shadow: none !important

.figure 
	border-width: 13px
	color: #f3efec
	position: absolute
	pointer-events: none
	animation-timing-function: linear 
	animation-iteration-count: infinite

.bg-1
	background-color: #7ba6ad
	.figure 
		color: #87adb3
.bg-2
	background: #b9c2b8
	.figure
		color: #bfc7bd

.figure-wrap
	pointer-events: none
	position: absolute
	width: 1500px
	right: 50%
	transform: translate(50%)
	top: 0
	bottom: 0
	.figure
		border-width: 7px
		&-1
			width: 24.8%
			height: 73%
			left: 18.5%
			top: 27%
			border-top-style: solid
			border-right-style: solid
			animation-name: height-1
			animation-duration: 3s
		&-2
			height: 18%
			left: 18.5%
			bottom: 72%
			border-right-style: solid
			animation-name: height-2
			animation-duration: 3s
		&-3
			width: 31.8%
			right: 57%
			bottom: 18%
			border-top-style: solid
			animation-name: height-3
			animation-duration: 3s
		&-4
			width: 18%
			left: 18.5%
			bottom: 45%
			border-top-style: solid				
		&-5
			height: 90%
			left: 51%
			bottom: 0
			top: 11%
			border-right-style: solid
			animation-name: height-4
			animation-duration: 3s
		&-6
			height: 24%
			left: 62%
			top: 76%
			border-right-style: solid
			animation-name: height-5
			animation-duration: 3s
		&-7
			width: 14%
			height: 28%
			right: 30%
			bottom: 21%
			border-top-style: solid
			border-right-style: solid
		&-8
			width: 10%
			height: 19%
			left: 78%
			bottom: 47%
			border-bottom-style: solid
			border-left-style: solid
			animation-name: height-6
			animation-duration: 3s
		&-9
			width: 10%
			left: 78%
			bottom: 21%
			border-top-style: solid	
			animation-name: height-6
			animation-duration: 3s	

@keyframes height-1
	50%
		height: 60%

@keyframes height-2
	50%
		height: 7%

@keyframes height-3
	50%
		width: 24.5%

@keyframes height-4
	50%
		top: 20%
		height: 67%

@keyframes height-5
	50%
		height: 12%

@keyframes height-6
	50%
		width: 3%







.h1-2
	@media (max-width: 991.98px)
		font-size: 20px !important
		line-height: inherit
	@media (max-width: 575.98px)
		font-size: 14px !important

.owl-2
	margin-top: -90px
	&:after 
		content: 'LIFESTYLE BY DESIGN'
		position: absolute
		top: 50%
		left: -20%
		right: -20%
		font-size: 120px 
		color: $color-btn
		pointer-events: none
		@media (max-width: 1199.98px)
			font-size: 90px 
		@media (max-width: 991.98px)
			font-size: 68px 
		@media (max-width: 767.98px)
			font-size: 50px 
		@media (max-width: 575.98px)
			font-size: 28px

.poem 
	font-family: 'Times New Roman', 'Almarai', sans-serif
	background: $color-body
	color: $color-bg
	padding: 100px 15px
	margin-bottom: 126px
	@media (max-width: 575.98px)
		margin-bottom: 90px

@import theme